.experience-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2% 10%;
  align-items: center;
  position: relative;
  z-index: 10;
}

.bottom-box {
  width: 100%;
  margin-top: 40px;
  gap: 15px;
}

.top-box {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.bottom-box-context {
  padding: 20px;
  background-color: #fdf9f3;
}

.sub-box1 {
  padding: 20px;
  background-color: #fdf9f3;
  width: 50%;
}

.sub-box2 {
  padding: 20px;
  background-color: #fdf9f3;
  width: 50%;
}
