.about-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 13% 10%;
  color: #3d2008 !important;
  position: relative;
  z-index: 10;
}

.about-content {
  padding: 0 20%;
}

.hero-image img {
  bottom: 0px;
  right: 0px;
  width: 50%;
  object-fit: cover;
  position: fixed;
}

.about-card {
  background-color: white;

  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 5%;
  height: 250px;
  border: 5px solid #ede9e2;
  border-radius: 20px;
  transition: 1s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

img.profile-image {
  width: 100%;
  min-width: 80px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.about-links {
  align-items: center;
  justify-content: space-between;
}

.about-text {
  width: 60%;
  min-width: 240px;
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text-alt {
  width: 60%;
  min-width: 240px;
  font-family: "Share Tech Mono", monospace;
}

.about-image-links {
  width: 40%;
  font-family: "Share Tech Mono", monospace;
}

.about-image {
  width: 40%;
  display: flex;
  align-items: center;
}

.MuiButtonBase-root {
  color: #3d2008 !important;
}

.about-card:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
